.navleiste{

padding: 0px;

text-align: center;
background-color: rgb(218, 218, 214);
}

.navleiste ul{
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 20px;
  margin:0;
}
.navleiste ul li{
  padding-left: 20px;
  font-size: 2.5rem;
}
.link{
  text-decoration: none;
  color:aliceblue
}
.home{
  text-align: center;
}
